<h1 (mouseover)="changeVision($event)" (mouseout)="changeVision($event)" class="Museo">LA CIUDAD DE LAS ARTES Y DE LAS CIENCIAS</h1>
<p (mouseover)="changeColor($event)" (mouseout)="changeColor($event)" >“Ubicada al final del viejo cauce del río Turia, la Ciudad de las Artes y las Ciencias
es un complejo arquitectónico, cultural y de entretenimiento diseñado por
Santiago Calatrava y Félix Candela, junto con los ingenieros autores del diseño
estructural de las cubiertas del L'Oceanografic Alberto Domingo y Carlos Lázaro.”
</p> 