<div class="lorem">
    <div class="lorem-img">
      <img src="https://ihdemu.com/images/blog/que-es-lorem-ipsum.jpg" width="250px">
    </div>

    <div class="lorem-description">
      <ul>
        <li>
          <h2 (click)="onClick()">{{title}}</h2>
        </li>
        <li>
          <h3 (mouseover)="changeColor($event)" (mouseout)="changeColor($event)">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue venenatis facilisis. 
            Mauris fermentum, est in lacinia tristique, turpis mauris ullamcorper dui, a pulvinar erat 
            tellus eu magna. Nam cursus lacinia ipsum, a vehicula dolor aliquet vel. Phasellus fermentum 
            condimentum felis sit amet sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus 
            et ultrices posuere cubilia curae; Praesent sodales leo quis est mollis lacinia. Nunc pretium 
            pulvinar ligula, non suscipit lectus auctor ut. Aenean maximus tellus diam, sed fermentum odio 
            mattis non. Donec a egestas nulla, nec tincidunt enim. Praesent laoreet nibh at nisi maximus, 
            eu posuere augue aliquet. Cras non fermentum sapien.
          </p>
        </li>
      </ul>
    </div>
    <div class="ipsum">
      <a href="#">Lorem ipsum</a>
    </div>
  </div>
