<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>GitHub Community</header>
<main>
  <article>
    <h1>Perfil 1</h1>
    <p><a>Perfiles</a></p> 
    
    <button (click)="anterior()">Anterior</button><button (click)="siguiente()">Siguiente</button>    
</article>
    <aside>
      <h2>Menu</h2>
      <nav class="visible">
          <ul>
              <li><a>Link 1</a></li>
              <li><a>Link 2</a></li>
          </ul>
      </nav>
  </aside>
</main>
</body>
</html>