aside {
  width: 250px;
}

ul {
  list-style-type: none;
}

.visible{
  visibility: visible;
}

.oculto{
  visibility: hidden;
}

article {
  width:525px;
  height: 550px;
}

h1 {
  height: 400px;
  line-height: 150px;
  text-align: center;
  color: #fff;
}

header{
  width: 1000px;
  height: 100px;
  font-size: 35px;
  margin:auto;
  background-color:rgb(255, 0, 255);
  padding:20px;
  display: flex;
  flex-direction: row-reverse;
}

footer{
  width: 1000px;
  font-size: 35px;
  margin:auto;
  background-color:rgb(255, 0, 255);
  padding:20px;
  display: flex;
  flex-direction: row-reverse;
}

main {
  width: 800px;
  margin:auto;
  background-color:#FFF;
  padding:20px;
  display: flex;
  flex-direction: row-reverse;
}
