  <div class="navigation">
    <ul>
      <a [routerLink]="['view-one']" class="nav-link" >Vista 1</a>
      <a [routerLink]="['view-two']" class="nav-link" >Vista 2</a>
    </ul>
  </div>

  <!-- (click)="onclick()" -->

  <div class="banner">
    <div class="banner-text">
      <h2>Vista 1</h2>
    </div>
  </div>

<!--   <ng-template #view-two>
    <div class="banner">
      <div class="banner-text">
        <h2>Vista 2</h2>
      </div>
    </div>
  </ng-template>
 -->
  <div class="content">
  </div>

