
		body { 
            padding:100px; 
        }
		nav { 
            margin-bottom:50px; 
        }
		nav ul { 
            overflow:hidden; 
			border-left:1px solid #777676; 
			margin:0; 
			padding:0; 
			list-style-type:none; 
        }
		nav ul li { 
            float:left; 
        }
		nav ul li a { 
			display:block; 
			width:149px; 
			text-align:center; 
			background:#BEBCBC; 
			color:#333; 
			border-right:1px solid #777676;
			height:50px;
			line-height:50px;
			text-decoration:none;
			text-transform:uppercase;
		}
		nav ul li a:hover { 
            background:#D5D4D4; 
        }

		#caja { 
			background-image: url("https://images.adsttc.com/media/images/5d44/14fa/284d/d1fd/3a00/003d/large_jpg/eiffel-tower-in-paris-151-medium.jpg?1564742900");
			visibility: visible;           
			width:450px; 
            height:300px; 
			transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
        }

		