<div class="lorem">
    <div class="lorem-img">
      <img src="https://1.bp.blogspot.com/-sFK6FBGcUx0/XclOAof2u5I/AAAAAAAADPY/FvX604enKNAhlxXQTfo1aUCGIma1nEXCwCLcBGAsYHQ/w0/Lorem%2BIpsum%2BDolor%2BSit%2BAmet.png" width="250px">
    </div>

    <div class="lorem-description">
      <ul>
        <li>
          <h2>Amet</h2>
        </li>
        <li>
          <h3>Pellentesque quis nibh commodo, hendrerit mauris eget, rutrum justo.</h3>
        </li>
        <li>
          <p>Maecenas non sapien sit amet sem sollicitudin fermentum quis sed tortor. Vestibulum ante ipsum primis in faucibus 
            orci luctus et ultrices posuere cubilia curae; Nunc a efficitur tellus, id elementum nisi. Aliquam quis arcu consectetur, 
            volutpat odio at, dictum sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas consequat sem dui, 
            vitae ullamcorper justo porta nec. Nulla at risus vitae ipsum iaculis volutpat ac id libero. Aliquam cursus maximus nunc 
            non pretium. Nunc fermentum dignissim vehicula. Suspendisse convallis nibh et quam pharetra porttitor. Mauris faucibus 
            ex eu ligula suscipit, eget malesuada justo dapibus. Aenean elementum magna non maximus malesuada. Ut tincidunt sem sed 
            turpis commodo egestas.
          </p>
        </li>
      </ul>
    </div>
    <div class="ipsum">
      <a href="#">Lorem ipsum</a>
    </div>
  </div>
