<div class="lorem">
    <div class="lorem-img">
      <img src="https://image.spreadshirtmedia.net/image-server/v1/mp/products/T1302A1PA3321PT24X0Y0D147222361W20396H20396/views/1,width=800,height=800,appearanceId=1,backgroundColor=F2F2F2/lorem-ipsum-poster.jpg" width="250px">
    </div>

    <div class="lorem-description">
      <ul>
        <li>
          <h2>Sit</h2>
        </li>
        <li>
          <h3>Morbi a nisl volutpat, faucibus eros et, posuere erat.</h3>
        </li>
        <li>
          <p>Integer lorem velit, aliquet a tortor id, molestie vehicula velit. Etiam at condimentum ante. 
            Integer sed neque iaculis, sollicitudin nisi a, tempor ex. Duis ornare odio at nisi pellentesque ultricies. 
            Aliquam vehicula pulvinar quam, eget porttitor ipsum vestibulum sit amet. Aliquam dapibus vehicula nisl sit 
            amet ultricies. Morbi in sodales neque. Aenean in interdum nisl. Nam non consectetur felis. Curabitur bibendum 
            eget orci at iaculis. Aliquam vitae ex sit amet leo tristique placerat et a ipsum. Phasellus tristique tortor 
            quis nunc pellentesque efficitur.
          </p>
        </li>
      </ul>
    </div>
    <div class="ipsum">
      <a href="#">Lorem ipsum</a>
    </div>
  </div>
