<div class="question" id="question-1">
    <h4>Ejercicio 1</h4>
  
    <form method="post" action="#">
      <div class="answer-bank">
        <div class="answer">
          <select name="finish" id="finish">
            <option value="">- Búsqueda por: -</option>
            <option value="capitulo">Capítulo</option>
            <option value="personaje">Personaje</option>
          </select>
        </div>
        <div class="answer">
          <input type="submit" value="Enviar" class="primary" />
        </div>
      </div>
    </form>
  
    <form method="post" action="#">
      <div class="answer-bank">
        <div class="answer">
          <input type="text" name="name" id="name" value="" placeholder="type" />
        </div>
        <div class="answer">
          <input type="submit" value="Enviar" class="primary" />
        </div>
      </div>
    </form>
  
    <div>
      <div>
        <p>Episodio</p>
        <p>Personajes:</p>
      </div>
    </div>
  
    <div>
      <div>
        <p>Personajes:</p>
      </div>
    </div>
  
  </div>
