<div class="question" id="question-2">
    <h4>Ejercicio 2</h4>

      <form method="post" action="#">
        <div class="answer-bank">
            <div class="answer">
                <input type="text" name="name" id="name" value="" placeholder="Nombre" />
            </div>
            <div>
                <div class="answer">
                    <input type="submit" value="Enviar" class="primary" />
                </div>
            </div>
        </div>
    </form>
   
    <div>
        <div class="answer-bank">
            <p>Nombre y apellido jugador</p>
        </div>
    </div>

    <div>
        <p>Total points by the player:</p>
    </div>

  </div>
