*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     outline: 1px solid springgreen; 
}

:root {
    --backcolor: white;
    --darkviolet: #6563ff;
    --ocasionalviolet: #7b7aff;
    --midviolet: #b2b1ff;
    --lightblue: #d8d8ff;
    --whitecolor: #ffffff;
    --blackcolor: #000000;
    --paletalightgrey: #686869;
    --paletamidgrey: #5B5B5F;
    --paletadarkgrey: #2F2F38;
    --paletacontent: #848282;
}

header{
    background-color: var(--midviolet);
}

.img-logo-header{
    width: 44px;
    height: 43px;
}

.navbar-bg-scube{
    background-color: var(--midviolet);
}

.navbar-nav img{
    width: 44px;
    height: 43px;
}

.navbar-item{
    margin-right: 20px;
}

.bg-card{
    background-color: var(--paletacontent);
}

.card img{
    width: 156px;
    height: 160px;
}

main{
    margin-top: 20px;
}

.sidebar{
    background-color: var(--midviolet);
    align-items: center;
}

.sidebardark{
    background-color: var(--paletamidgrey);
    align-items: center;
}

.sidebar img{
    width: 44px;
    height: 43px;
}

.div-opaco{
    color: var(--darkviolet);
    background-color: var(--paletalightgrey);
    
}

.jumbotron{
    background: url("./../../img/jumbo/niño_cascos.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.separado{
    background-color: var(--ocasionalviolet);
    color: var(--blackcolor);
    margin-top: 30px;
}

.separado2{
    background-color: var(--midviolet);
    color: var(--blackcolor);
}

.wrapper{
    display: flex;
    flex-direction: row;
}


.textofondo{
    border: 2px solid var(--paletadarkgrey);
    background-color: var(--paletacontent);
}

.formufondo{
    border: 2px solid var(--paletadarkgrey);
    border-radius: 5%;
    background-color: var(--paletacontent);
}

.card-container{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.card-img-top{
    width: 156px;
    height: 160px;
}

.bg-card{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--lightblue);
}
.topstreamers img{
    width: 100px;
    height: 60px;
}

section{
    margin: 20px;
}
footer{
    margin-top: 20px;
    background-color: var(--darkviolet);
}
footer img{
    width: 44px;
    height: 43px;
}

.im-footer{
    width: 100px;
    height: 80px;
}